@font-face {
	font-family: 'CircularStd-Black';
	src: local('CircularStd'), url('./fonts/CircularStd-Black.otf') format('truetype');
}

@font-face {
	font-family: 'CircularStd-Book';
	src: local('CircularStd'), url('./fonts/CircularStd-Book.otf') format('truetype');
}
@font-face {
	font-family: 'CircularStd-Medium';
	src: local('CircularStd'), url('./fonts/CircularStd-Medium.otf') format('truetype');
}
@font-face {
	font-family: 'CircularStd-Bold';
	src: local('CircularStd'), url('./fonts/CircularStd-Bold.otf') format('truetype');
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type='number'] {
	-moz-appearance: textfield;
}

/*
BE-EX COLORS

MAIN:
184,215,52

REDS:
178,50,50
161,46,46
131,37,37

GREENS:
110,177,44
95,153,38
79,127,32

BLUES:
53,143,180
44,122,156
35,103,133

GRAYS:
  DARK:
    89,90,84

  LIGHTER:
    225,225,225
    210,210,210
    153,153,153

    FONTS:
    CIRCULAR STD-BOLD
*/

body {
	margin: 0;
	padding: 0;
	font-family: 'CircularStd-Book';
	box-sizing: border-box;
	overflow-x: hidden;
}
